.button {
    -fx-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.10);
}

.label {
    -fx-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-alignment: center;
}

.container {
    -fx-background-color: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 48.2379% 50.0%, radius 60.0%, #951847 0.0%, #2e0c36 100.0%);
    -fx-alignment: center;
    -fx-min-height: 800;
    -fx-min-width: 800;
}

.LevelButton {
    -fx-font-weight: 700;
    -fx-background-color: rgba(255, 255, 255, 0.10);
    -fx-font-size: 54px;
    -fx-pref-height: 140px;
    -fx-pref-width: 140px;
}

.LevelButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.20);
}

.backButton {
    -fx-font-weight: 700;
    -fx-font-size: 30px;
}

#buttonPane {
    -fx-pref-width: 540;
    -fx-pref-height: 360;
}

.GridPane {
    -fx-alignment: center;
    -fx-min-height: 400px;
    -fx-min-width: 400px;
}

.warmBlock {
    -fx-arc-width: 25;
    -fx-arc-height: 25;
    -fx-fill: #f6525e;
    -fx-stroke-width: 5;
    -fx-stroke: rgba(46, 12, 54, 0.3);
}

.coldBlock {
    -fx-arc-width: 25;
    -fx-arc-height: 25;
    -fx-fill: #4fbcd1;
    -fx-stroke-width: 5;
    -fx-stroke: rgba(46, 12, 54, 0.3);
}

.stoneBlock {
    -fx-arc-width: 25;
    -fx-arc-height: 25;
    -fx-fill: #2f2a3f;
    -fx-stroke-width: 5;
    -fx-stroke: rgba(46, 12, 54, 0.3);
}

.multiplyBlock {
    -fx-arc-width: 25;
    -fx-arc-height: 25;
    -fx-fill: #dcd4da;
    -fx-stroke-width: 5;
    -fx-stroke: rgba(46, 12, 54, 0.3);
}

.multiplyBlockLabel {
    -fx-text-fill: #2e0c36;
}

.gridLine {
    -fx-arc-width: 10;
    -fx-arc-height: 10;
    -fx-stroke-width: 4;
    -fx-fill: transparent;
    -fx-stroke: rgba(46, 12, 54, 0.1);
}